<back-to-top class="back-to-top color-{{ settings.back_to_top_scheme }}">
  <button class="button back-to-top__button">
    <span class="visually-hidden">Navigate back to the top</span>
    {%- render 'icon-caret' %}
  </button>
</back-to-top>
